@model FailTracker.Web.Models.ProjectAdministration.ProjectListViewModel

@{
	ViewBag._Title = "Project Administration";
}

<h2>Project Administration</h2>

<table>
<thead>
	<th>Project Name</th>
	<th>Active Stories</th>
	<th>Members</th>
	<th>&nbsp;</th>
</thead>
@for(var i=0; i < Model.Summaries.Length; i++)
{
	<tr>
		<td>@Html.HiddenFor(m => m.Summaries[i].ID)@Html.DisplayFor(m => m.Summaries[i].Name)</td>
		<td>@Html.DisplayFor(m => m.Summaries[i].ActiveStories)</td>
		<td>@Html.DisplayFor(m => m.Summaries[i].Members)</td>
		<td>@(Html.ActionLink<ProjectAdministrationController>(c => c.InviteMember(Model.Summaries[i].ID), "Invite Members"))</td>
	</tr>
}
</table>

<p>@(Html.ActionLink<ProjectAdministrationController>(c => c.AddProject(), "Add New Project", new { @class="button"}))</p>
