@model TryCatchFail.CodeStock2011.FailTracker.Web.Models.Issues.ViewIssueViewModel

@{
    ViewBag._Title = Model.Title;
}

@section SideBar
{
	<div class="bug-details">
		@Html.LabelFor(m => m.Type)
		@Html.DisplayFor(m => m.Type)
		@Html.LabelFor(m => m.AssignedTo)
		@Html.DisplayFor(m => m.AssignedTo)
		@Html.LabelFor(m => m.Size)
		@Html.DisplayFor(m => m.Size)
	</div>
}

<h2>@Model.Title</h2>
<div>
	@Model.Body
</div>