@model FailTracker.Web.Models.Issues.IssueDetailsViewModel

@{
    Layout = null;
}

<h2>@Model.Title</h2>
<div class="bug-notes">
	<h4>Created by @Html.DisplayFor(m => m.CreatedBy) at @Model.CreatedAt</h4>
	<div>@Model.Description</div>
</div>
@foreach (var change in Model.Changes)
{
	<hr />
	<div class="bug-notes">
		<h4>Edited by @Html.DisplayFor(m => change.EditedBy) at @change.ChangedAt</h4>
		<div>@change.Comments</div>
	</div>
}
