<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag._Title - Fail Tracker</title>
	<link href="@Url.Content("~/Content/Shared/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Shared/TransdminTheme/css/transdmin.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Shared/Site.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/Shared/jquery-1.4.4.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/Shared/jquery.validate.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/Shared/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/Shared/jquery-ui.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/Shared/Site.js")" type="text/javascript"></script>
</head>
<body>
	<div id="wrapper">
		<h1>
			@(Html.ActionLink<IssuesController>(c => c.Dashboard(), "Fail Tracker"))
			<strong>Because failure is everywhere...</strong>
		</h1>
		@if (Request.IsAuthenticated)
		{
			<div class="logon-status">
				Hello, @User.Identity.Name!</div>
			<ul id="mainNav">
				<li>@(Html.ActionLink<IssuesController>(c => c.Dashboard(), "Dashboard", new { @class = "active" }))</li>
				<li class="right">@(Html.ActionLink<AccountController>(c => c.LogOff(), "Log Off"))</li>
				<li class="right">@(Html.ActionLink<IssuesController>(c => c.AddIssue(), "Add Issue"))</li>
			</ul>
		}
		<div id="containerHolder">
			<div id="container">
				@if (IsSectionDefined("SideBar"))
				{
					<div id="sidebar">
						@RenderSection("SideBar")
					</div>    
				}
				<div id="main">
					@Html.Partial("StatusMessage")
					@RenderBody()
				</div>
				<!-- // #main -->
				<div class="clear">
				</div>
			</div>
		</div>
		<p id="footer">Based on the Transdmin Theme: <a href="http://www.perspectived.com">Perspectived</a></p>
	</div>
    <div class="dialog" id="session-timeout-dialog">
        <h3>You have been logged out...</h3>
        <p>You have been logged out of the system due to inactivity.  
        Please @(Html.ActionLink<AccountController>(c => c.LogOn(), "login")) again.</p>
    </div>
	<div class="dialog" id="dialog-confirm" title="Empty the recycle bin?">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><span class="text">These items will be permanently deleted and cannot be recovered. Are you sure?</span></p>
	</div>
	</body>
</html>
