@model FailTracker.Web.Models.Issue.AssignmentStatsViewModel[]

<h3>All Issues</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>User</th>
            <th>Enhancements</th>
            <th>Bugs</th>
            <th>Support</th>
            <th>Other</th>
        </tr>
    </thead>
    <tbody class="row-link" data-link="row">
        @foreach (var stat in Model)
        {
            <tr>
                <td>@stat.UserName</td>
                <td>@stat.Enhancements</td>
                <td>@stat.Bugs</td>
                <td>@stat.Support</td>
                <td>@stat.Other</td>
            </tr>
        }
    </tbody>
</table>