@using FailTracker.Web.Models.Shared
@model IssueSummaryViewModel
		   
		<tr>
			<td><span class="ui-icon ui-icon-search issue-preview button" data-issue-id="@Model.ID"></span></td>
			<td>@Model.Type</td>
			<td>@(Html.ActionLink<IssuesController>(c => c.View(Model.ID), Model.Title))</td>
			<td>@Model.Size</td>
			<td>@Html.DisplayFor(m => Model.AssignedTo)</td>
			<td><span class="ui-icon ui-icon-trash issue-delete button" data-issue-id="@Model.ID"></span></td>
		</tr>
